*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: top left;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.header{
    background-color: red;
    height: 50px;
    width: 100%;
}
h1 {
    font-family: Georgia, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
}

p {
    font-size: 18px;
}

img {
    max-width: 20%;
    height: auto;
}
